@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* html {
  scroll-behavior: smooth;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 90%;
  margin: auto;
  
  padding-top: 80px; /* Add padding to avoid content being hidden under the navbar */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}